{% extends "gestao/base.html" %} {% block title %}Email Enviado{% endblock %}
{%block content%}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4>Email enviado!</h4>
      </div>
      <div class="card-body">
        <p>
          Se o email que você forneceu está cadastrado em nosso sistema, você
          receberá um link para redefinir sua senha.
        </p>
        <p>Verifique sua caixa de spam caso não encontre o email.</p>
        <a href="{% url 'login' %}" class="btn btn-secondary"
          >Voltar ao login</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
