{% extends "gestao/base.html" %} {% block title %}Redefinir Senha{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4>Esqueceu sua senha?</h4>
      </div>
      <div class="card-body">
        <p>
          Digite seu email abaixo e enviaremos instruções para redefinir sua
          senha.
        </p>
        <form method="POST">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
