{% extends "gestao/base.html" %} {% block title %}Bem-vindo{% endblock %}
{%block content%}
<div class="jumbotron bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bem-vindo ao Sistema da Oficina Mecânica!</h1>
  <p class="lead">
    Solução completa para gestão de clientes, veículos e orçamentos.
  </p>
  <hr class="my-4" />
  {% if user.is_authenticated %}
  <a class="btn btn-primary btn-lg" href="{% url 'dashboard' %}" role="button"
    >Ir para Dashboard</a
  >
  {% else %}
  <div class="d-grid gap-2 d-md-block">
    <a
      class="btn btn-primary btn-lg me-md-2"
      href="{% url 'login' %}"
      role="button"
      >Entrar</a
    >
    <a
      class="btn btn-outline-secondary btn-lg"
      href="{% url 'cadastro_usuario' %}"
      role="button"
      >Cadastrar</a
    >
  </div>
  {% endif %}
</div>
{% endblock %}
